---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork" style="max-width: none;">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap" style="max-width: none; padding: 0 1rem;">
          <section class="page__content" itemprop="text" style="max-width: none;">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}
  </body>
</html>


